@model CommerceV3.Models.Product

@{
    ViewData["Title"] = "Ürün Düzenle";
}
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Slug" class="control-label"></label>
                <input asp-for="Slug" class="form-control" />
                <span asp-validation-for="Slug" class="text-danger"></span>
            </div>
            <div class="form-group">
                @if (!string.IsNullOrEmpty(Model.Photo))
                {
                    <img src="~/Uploads/@Model.Photo" width="150" /><br />
                }
                <label asp-for="Photo" class="control-label"></label>
                <input asp-for="Photo" type="hidden" />
                <input type="file" name="upload" class="form-control" />
                <span asp-validation-for="Photo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OldPrice" class="control-label"></label>
                <input asp-for="OldPrice" class="form-control" />
                <span asp-validation-for="OldPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.Categories">
                    <option value="">Kategori seçiniz</option>
                </select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div>
                    <label>
                        <input asp-for="IsInStock" /> @Html.DisplayNameFor(model => model.IsInStock)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div>
                    <label>
                        <input asp-for="IsPublished" /> @Html.DisplayNameFor(model => model.IsPublished)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div>
                    <label>
                        <input asp-for="IsNew" /> @Html.DisplayNameFor(model => model.IsNew)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="ShippingPriceCityWide" class="control-label"></label>
                <input asp-for="ShippingPriceCityWide" class="form-control" />
                <span asp-validation-for="ShippingPriceCityWide" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShippingPriceCountryWide" class="control-label"></label>
                <input asp-for="ShippingPriceCountryWide" class="form-control" />
                <span asp-validation-for="ShippingPriceCountryWide" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShippingPriceWorldWide" class="control-label"></label>
                <input asp-for="ShippingPriceWorldWide" class="form-control" />
                <span asp-validation-for="ShippingPriceWorldWide" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SupplierId" class="control-label"></label>
                <select asp-for="SupplierId" class="form-control" asp-items="ViewBag.SupplierId">
                    <option value="">Tedarikçi seçiniz</option>
                </select>
                <span asp-validation-for="SupplierId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BrandId" class="control-label"></label>
                <select asp-for="BrandId" class="form-control" asp-items="ViewBag.BrandId">
                    <option value="">Marka seçiniz</option>
                </select>
                <span asp-validation-for="BrandId" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="CreatedBy" />
            <input type="hidden" asp-for="CreateDate" />
            <input type="hidden" asp-for="UpdatedBy" />
            <input type="hidden" asp-for="UpdateDate" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
